*::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: rgba(0,0,0,0.1);
  }
*::-webkit-scrollbar{
  width: 8px;
  height: 5px;
}
*::-webkit-scrollbar-track-piece{
  background-color: transparent;
}
body::-webkit-scrollbar,html::-webkit-scrollbar{
  width: 3px;
}
input:-webkit-autofill {
  transition: background-color 50000s ease-in-out 0s;
}
ul{
  list-style: none;
}
*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  -webkit-user-select:none;
}

html,body,#app{
  margin: 0;
  padding: 0;
}